@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Martian+Mono:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400&display=swap");
html {
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li::marker {
  content: "";
}

.icon {
  width: 32px;
}

body {
  font-family: "Fira Mono", monospace;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
body section {
  padding-top: 50px;
}

h2 {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.05rem;
}

.left {
  width: 75%;
  background-color: #f8f8ff;
  min-width: 320px;
  max-width: 420px;
  padding-left: 25px;
}
.left .profile-p p {
  margin-bottom: 1rem;
}
.left dl {
  border-left: 2px solid #696969;
}
.left dt {
  position: relative;
  padding-left: 10px;
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.05rem;
}
.left dt a {
  text-decoration: none;
  color: #696969;
}
.left dt ::before {
  position: absolute;
  left: -5px;
  top: -0.75rem;
  content: "•";
  font-size: 20px;
  color: #696969;
  margin-right: 25px;
}
.left dd {
  margin-left: 30px;
  max-width: 450px;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  border-bottom: 2px rgba(105, 105, 105, 0.5) inset;
}
.left h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.left h2 img {
  border-right: 2px solid #696969;
  padding-right: 5px;
}

.rigth {
  min-width: 320px;
  max-width: 420px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  background-color: #696969;
  gap: 20px;
}
.rigth .myPhoto {
  width: 165px;
  border: 2px solid black;
  border-radius: 50%;
}
.rigth h1 {
  font-family: "Fira Mono", monospace;
  font-size: 3rem;
  letter-spacing: 2px;
}
.rigth h2 {
  padding-left: 15px;
  background-image: url("./img/line.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
}
.rigth h3 {
  padding-bottom: 25px;
  border-bottom: 1px solid #f8f8ff;
}
.rigth * {
  color: #f8f8ff;
}
.rigth address {
  padding-bottom: 25px;
  border-bottom: 1px solid #f8f8ff;
}
.rigth ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.rigth ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 0.02rem;
}
.rigth .rigth-icon {
  width: 3rem;
}
.rigth table {
  width: 80%;
}
.rigth tr {
  margin-bottom: 20px;
  display: flex;
  flex: 3;
}
.rigth td {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (width <= 425px) {
  body {
    flex-wrap: wrap;
    width: 100vw;
  }
  .right {
    padding-left: 0px;
  }
  .left {
    padding-top: 10px;
    padding-left: 0px;
  }
}/*# sourceMappingURL=styles.css.map */